/* Project */

.project-title {
  font-weight: bold;
}



/*
    PHONE
 */
@media (max-device-width : 480px) {
  .project-panel {
    width: 130px;
    height: 130px;
    text-align: center;
    margin: 5px 5px 5px 5px;
  }
}

/*
    TABLET
 */
@media (min-device-width : 481px) and (max-device-width : 1024px) {
  .project-panel {
    width: 130px;
    height: 130px;
    text-align: center;
    margin: 0 5px;
  }
}

/*
    DESKTOP & LAPTOP
 */
@media (min-width : 1025px) {
  .project-panel {
    width: 130px;
    height: 130px;
    text-align: center;
    margin: 5px 5px 5px 5px;

  }
}
