@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('ttf');
}

/*
    Temp styles
 */

/*
.blue-border {
  border: 1px solid blue;
}

.red-border {
  border: 1px solid red;
}

.orange-border {
  border: 1px solid orange;
}

.gray-background {
  background-color: gray;
}

.light-gray-background {
  background-color: lightgray;
}

.yellow-background {
  background-color: yellow;
}

.orange-background {
  background-color: orange;
}

.red-background {
  background-color: red;
}

.blue-background {
  background-color: blue;
}*/

/*
body  {
  background-color: black;
  color: #686868;
  color: white;
  font-family: "Source Sans Pro", "SourceSansPro", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

h1 {
  font-family: 'titillium', sans-serif;
  font-weight: 400;
  color: blue !important;
}
*/
/*
h2 {
  font-family: 'titillium', sans-serif;
  font-weight: 400;
  color: #b4b4b4;
}


.colors {
  color: #34E97C;
  color: darkblue;
  color: blue;
  color: royalblue;
  color: dodgerblue;
  color: deepskyblue;
  color: darkturquoise;
  color: turquoise;
  color: aqua;
  color: cyan;
  color: lightskyblue;
  color: skyblue;
  color: paleturquoise;
  color: powderblue;
}
*/
