@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('ttf');
}

/*
.colors {
  color: #34E97C;
  color: darkblue;
  color: blue;
  color: royalblue;
  color: dodgerblue;
  color: deepskyblue;
  color: darkturquoise;
  color: turquoise;
  color: aqua;
  color: cyan;
  color: lightskyblue;
  color: skyblue;
  color: paleturquoise;
  color: powderblue;
}
*/
