/* Navigation */

/*.navbar-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 400px;
}*/

/*.navbar-inverse {
 background-image: none;
 background-color: transparent;
 background-repeat: no-repeat;
 border-radius: 0;
 border: 1px solid blue;
 margin-bottom: 0;
}*/
