/* Button */


button {
  font-family: "titillium", sans-serif;
  letter-spacing: 2px;
  color: inherit;
  font: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
  -moz-appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  border-radius: 2px;
  line-height: 1;
}

button[disabled] {
  cursor: default;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button {
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all 0.25s ease-out;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 0.8em 1em;
  /*margin: 0 1rem 1rem 0;*/
  font-size: 0.9rem;
  background: #fff;
  color: white;
}

.button:hover, .button:focus {
  background: #d9d9d9;
  color: #000;
}


/*
 * Success
 */
.success {
  background: #13c25c;
  border: 1px solid #13c25c;
  color: #13c25c;
}

.success:hover, .success:focus {
  background: #0f9b4a;
  color: #fff;
}

/*
 * Hollow
 */
 .hollow {
   background-color: transparent;
 }

/*
 .button.hollow, .button.hollow:hover, .button.hollow:focus {
   background: transparent;
 }

 .button.hollow:hover, .button.hollow:focus {
   /*border-color: gray;
   /*color: gray;

 }

 .button.hollow.success {
   border: 1px solid #13c25c;
   color: #13c25c;
 }

 .button.hollow.success:hover, .button.hollow.success:focus {
   border-color: #0a612e;
   color: #0a612e;
 }

*/

/*
 * Keep on bottom !!
 */

 .btn-nav {
   padding: 5px 15px 5px 15px;
   line-height: 24px;
   margin-right: 20;
   letter-spacing: 2;
 }

/*********
 * Unused
 * /

/*
 .button.tiny {
   font-size: 0.6rem;
 }

 .button.small {
   font-size: 0.75rem;
 }

.button.large {
   font-size: 1.25rem;
 }

.button.expanded {
   width: 100%;
   margin-left: 0;
   margin-right: 0;
 }

 .button.primary {
   background: #fff;
   color: #000;
 }

 .button.primary:hover, .button.primary:focus {
   background: #cccccc;
   color: #000;
 }

 .button.secondary {
   background: #888;
   color: #fff;
 }

 .button.secondary:hover, .button.secondary:focus {
   background: #6d6d6d;
   color: #fff;
 }

 .button.alert {
   background: #ec5840;
   color: #fff;
 }

 .button.alert:hover, .button.alert:focus {
   background: #da3116;
   color: #fff;
 }

 .button.warning {
   background: #ffae00;
   color: #fff;
 }

 .button.warning:hover, .button.warning:focus {
   background: #cc8b00;
   color: #fff;
 }

 .button.hollow.primary {
   border: 1px solid #fff;
   color: #fff;
 }

 .button.hollow.primary:hover, .button.hollow.primary:focus {
   border-color: gray;
   color: gray;
 }

 .button.hollow.secondary {
   border: 1px solid #888;
   color: #888;
 }

 .button.hollow.secondary:hover, .button.hollow.secondary:focus {
   border-color: #444444;
   color: #444444;
 }


 .button.hollow.alert {
   border: 1px solid #ec5840;
   color: #ec5840;
 }

 .button.hollow.alert:hover, .button.hollow.alert:focus {
   border-color: #881f0e;
   color: #881f0e;
 }

 .button.hollow.warning {
   border: 1px solid #ffae00;
   color: #ffae00;
 }

 .button.hollow.warning:hover, .button.hollow.warning:focus {
   border-color: #805700;
   color: #805700;
 }

 .button.disabled {
   opacity: 0.25;
   cursor: not-allowed;
   pointer-events: none;
 }

 .button.dropdown::after {
   content: '';
   width: 0;
   height: 0;
   border: inset 0.4em;
   border-color: #fefefe transparent transparent;
   border-top-style: solid;
   position: relative;
   top: 0.4em;
   float: right;
   margin-left: 1em;
 }

 .button.arrow-only::after {
   margin-left: 0;
   float: none;
   top: 0.2em;
 }

 [type="button"] {
   border-radius: 2px;
   -webkit-appearance: none;
   -moz-appearance: none;
 }
*/
