/* TopBarDesktop */

.wrapper {
  display: flex;
  justify-content: center;
  padding: 15px 0 15px 0;
  width: 100%;
}
.topBar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.brandingDesktop {
  align-items: baseline;
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 10;
}

a.menuItem {
  text-decoration: none;
}
.menuItem {
  background-color: transparent;
  border: 1px solid #58565a;
  border-radius: 5px;
  /* font-size: 12; */
  font-size: 12px;
  letter-spacing: 2px;
  margin: 0 5px;
  padding: 2px 10px;
  text-align: center;
}
.menuItem:hover {
  border-color: #22C365;
  box-shadow: 0 0 0 8px rgba(34, 195, 101, 0.1);
  color: white;
}

.desktopMenuItems {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 0 0 0 0;
}

.wordTrivalleyDesktop {
  font-family: 'Wallpoet', cursive;
  font-size: 2.6em;
}
.wordCodersDesktop {
  color: #53EB76;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 3.0em;
  font-weight: 700;
}
