/*Event*/

.eventsPanel {
  background-color: transparent;
  border: none;
  border-radius: 0;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 5px;
}
.nameCol {
  padding: 5px 0 5px 5px;
}
.locationName {
  font-weight: 700;
}
.odd {
  background-color: rgba(180,180,180,0.1);
}
.addressCol {
  padding: 5px 0;
}
.dateCol {
  padding: 5px 0;
}
@media (max-width: 767px) {
  .addressCol {
    text-align: center;
  }
  .dateCol {
    text-align: center;
  }
}
