/* About */

.section-about {
  /*padding-bottom: 35px;*/
}

.about-subtitle {
  font-weight: bold;
  text-align: center;
  /*padding-top: 25px;*/
}

.about-sub-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  /*font-size: 1.3em;*/
}

.join-us-button {
  margin-top: 20px;
  margin-bottom: 15px;
}
.join-meetup-logo {
  max-width: 40px;
}
.join-us-text {
  /*font-size: 1.3em;*/
  letter-spacing: 0.04em;
  font-weight:400;
  vertical-align: middle;
  margin-left: 10px;
}
