/* About */

.about-container {
  background-image: url('images/green-keyboard-wide.20percent.png');
}

section.about-section {
  padding-top: 0;
  padding-bottom: 0;
}

.about-subtitle {
  font-weight: bold;
  text-align: center;
}

.about-sub-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-bottom: 20px;
}

.join-us-button {
  margin-top: 20px;
  margin-bottom: 15px;
}
.join-meetup-logo {
  max-width: 40px;
}
.join-us-text {
  font-size: 1.2em;
  letter-spacing: 0.04em;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 10px;
}
