/* About */

section.about-section {

  background-image: url('images/green-keyboard.1905x942.png');
  padding: 60px 40px 40px 40px;
  background-size: cover;
}

h2.tagline, h4.subtagline {
  margin: 0;
}

.tagline {
  padding-bottom: 15px;
  font-style: italic;
}

.subtagline {
  font-weight: bold;
  text-align: center;
  padding-bottom: 50px;
}

.header-body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  /*padding: 20px 0;*/
  padding: 0 100px;
  font-size: 1.3em;
}

.about-sub-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-bottom: 20px;
}

.join-us-button {
  margin-top: 30px;
  margin-bottom: 15px;
}
.join-meetup-logo {
  max-width: 40px;
}
.join-us-text {
  font-size: 1.2em;
  letter-spacing: 0.04em;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 10px;
}
