/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}


/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

html, body {
  font-size: 100;
  font-weight: normal;
  line-height: 1.5;
  color: #a5a5a5;
  background: #121212;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  border-radius: 2px;
  line-height: 1;
}

p {
  font-size: inherit;
  line-height: 1.6;
  margin-bottom: 1rem;
  text-rendering: optimizeLegibility; }

  strong,
  b {
    font-weight: bold;
    line-height: inherit; }
