/* TechLogos */

.tech-logos {
  /*border: 1px solid black;*/
}
.logo-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/*
    PHONE
 */
@media (max-width : 480px) {


}

/*
    TABLET
 */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {*/
@media (min-width : 481px) and (max-width : 1024px) {

}

/*
    DESKTOP & LAPTOP
 */
/*@media only screen  and (min-width : 1224px) {*/
@media (min-width : 1025px) {
  .tech-logos-row-inner {
    margin: 10px 0 10px 0;
  }
}
