/* TechLogos */

.container .tech-logos-grid {
  width: 1170px;
}

.tech-logos-row {
  padding-left: 10%;
  padding-right: 10%;
}

.row-tech-logos {
  padding: 10px 0;
}
.col-tech-logos {
  display: flex;
  flex-flow: row nowrap;
}
