/* Page */

.container {
  width: auto;

}

.page-grid-outer {
  padding-left: 0;
  padding-right: 0;
}

.page-grid-outer-row {
  /*width: 1170px;*/
  margin: auto;
}

.blue-border {
  border: 1px solid blue;
}

.green-border {
  border: 1px solid green;
}

.red-border {
  border: 1px solid red;
}

.orange-border {
  border: 1px solid orange;
}
