/* Page */
body {
  color: white;
  font-size: 1em;
}

/*#navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}*/

.container {
  width: auto;
}

.outer-grid {
  margin: auto;
}

.main-row {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: auto;
}

.section-title {
  text-align: center;
}

.section-sub-title {
  text-align: center;
  font-style: italic;
  color: lightgray;
}

.page-grid-outer {
  padding-left: 0;
  padding-right: 0;
}

.page-grid-outer-row {
  margin: auto;
}

/*
    Background & Font Colors
 */
.green-text {
  color: #34E97C;
}

.green-background {
  background-color: #32E278;
}

.dark-font {
  color: black;
}

.gray-panel {
  background-color: rgb(240,240,240);
}

section, footer {
  /*margin-top:50px;
  margin-bottom:50px;*/
}

/*
    Media Queries
 */
/* PHONE */
@media (max-width : 480px) {
  body {
    background-color: lightgreen;
  }
  nav {
    background-color: lightgreen;
  }
  section {
    padding-left: 1%;
    padding-right: 1%;
    background-color: lightgreen;
  }

  header {
    padding-left: 1%;
    padding-right: 1%;
    background-color: lightgreen;
  }

  footer {
    padding-left: 1%;
    padding-right: 1%;
    background-color: lightgreen;
  }
}

/* TABLET */
@media (min-width : 481px) and (max-width : 1024px) {
  body {
      background-color: green;
  }
  nav {
    background-color: green;
  }
  section {
    padding-left: 1%;
    padding-right: 1%;
    background-color: green;
  }

  header {
    padding-left: 1%;
    padding-right: 1%;
    /*padding-top: 48px;
    padding-bottom: 48px;*/
    background-color: green;
  }

  footer {
    padding-left: 1%;
    padding-right: 1%;
    background-color: green;
  }
}

/* DESKTOP & LAPTOP */
@media (min-width : 1025px) {
  body {
      /*background-color: black;*/
      background-color: #201D23;
  }
  nav {
    background-color: #201D23;
  }
  section {
    background-color: #201D23;
    padding-left: 10%;
    padding-right: 10%;

  }
  header {
    background-color: #201D23;
    padding-left: 10%;
    padding-right: 10%;
  }
  footer {
    background-color: #201D23;
    padding-left: 10%;
    padding-right: 10%;

  }
}


/*
    Temp styles
 */
.blue-border {
  border: 1px solid blue;
}

.red-border {
  border: 1px solid red;
}

.orange-border {
  border: 1px solid orange;
}

.gray-background {
  background-color: gray;
}

.light-gray-background {
  background-color: lightgray;
}

.yellow-background {
  background-color: yellow;
}

.orange-background {
  background-color: orange;
}

.red-background {
  background-color: red;
}

.blue-background {
  background-color: blue;
}
