/* Page */

body {
  margin: 0;
}

body {
  font-size: 100%;
  /*box-sizing: border-box;*/
}

body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", "SourceSansPro", sans-serif;*/
  font-weight: normal;
  line-height: 1.5;
  color: #a5a5a5;
  background: #121212;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
}


.section-outer {
  width: 100%;
  border: 1px solid red;
}
.section-inner {
  margin: auto;
  width: 100%;
  max-width: 1170px;
  border: 1px solid white;
  /*background-color: transparent;*/
}

.content-width {
  margin: auto;
  max-width: 83.3333333%;
  border: 1px solid green;
}

.grid-page {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 1px solid white;
}

.section-title {
  text-align: center;
}

.background-tvc-green {
  /*background-color: #0f9b4a;*/
  /*background-color: #0DD527;*/

  background-color: #13d16b;
  background-image: linear-gradient(to bottom, #34E97C, #1B984F);
}

.title-green {
  font-family: 'titillium', san-serif;
  line-height: 1;
  color: white;
  font-size: 42px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
