/* Events */

.events-section {
  /*border: 1px solid white;*/
}

.events-failed-message {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 15px 0 15px 0;
}

.meeting-schedule-text {
  margin-left: 10px;
}

.ul-meeting-schedule {
  margin: 20px 0 30px 0;
}

.row .odd {
  background-color: rgba(180,180,180,0.1);
}

.panel {
  background-color: transparent;
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
