/* Section */
.wrapper {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.3em;
  margin: auto;
  max-width: 820px;
  padding: 35px 0 35px 0;
}
/*.greenBackground {
  background-image: linear-gradient(to bottom, #42a552 0%, #42a552 100%);

  background-image: linear-gradient(to bottom, #3b9d48 0%, #3b9d48 100%);
  background-color: red;

}*/
.titles {
  margin-bottom: 20px;
}
.title {
  margin-bottom: 10px;
}
.children {
    margin: auto;
}
