/* TechLogo */

.tech-logo-panel {
  /* commen */
  border: none;
  text-align: center;
  margin-left: 100px;
  padding: 10px 20px;
  /* phone */
  height: 90px;
  margin: 0 5px;
}

.tech-logo-image {
  max-height: 40px;
}

.tech-logo-panel {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  border: none;
}

.tech-logo-title {
  text-align: center;
}

.express-logo {
  max-height: 30px;
}

.logo-name {
  margin: 5px 0 0 0;
}

/*
    PHONE
 */
@media (max-width : 480px) {


}

/*
    TABLET
 */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {*/
@media (min-width : 481px) and (max-width : 1024px) {
  .tech-logo-panel {
    height: 90px;
    margin: 0 5px;
  }
}

/*
    DESKTOP & LAPTOP
 */
/*@media only screen  and (min-width : 1224px) {*/
@media (min-width : 1025px) {
  .tech-logo-panel {
    height: 110px;
    margin: 0 10px;
  }

  .tech-logo-image {
    max-height: 60px;
  }
}
