/* Footer */

/*.footer {
  padding-top: 15px;
	padding-bottom: 15px;
}*/

.footerContainer {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.fa {
	padding: 5px 10px;
	color: white;
}

.faBtns {
	display: flex;
	flex-direction: row;
  justify-content: space-around;
	padding-bottom: 15px;
}
.facebook {
  color: #445796;
  }
.meetup {
  color: #ED3F64;
}
.faIcon {
  margin: 0 10px;
}
.copy {
  text-align: center;
}
