/* Member */

.member-item {
  display: flex;
  flex-flow: column nowrap;
  padding: 15px 10px;
  justify-content: space-between;
  max-width: 130px;
  text-align: center;
}

.member-img {
  max-height: 110px;
}

.member-name {
  font-weight: bold;
}

.member-role {
  margin-top: 3px;
}
