/* Navigation */

/* base styles */

section.nav-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-sub-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

}


.toggle-bar {
  clear: both;
  display: block;
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
  cursor: pointer;
  height: 40px;
  color: white;
  transition: all .1s linear;
}
.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: height .3s linear;
}
.menu li {
  display: flex;
  align-self: center;
}

.menu li a {
  text-decoration: none;
  align-self: center;
  color: white;
  padding: 10px 15px;
  transition: background .2s linear;
}
.menu li a {
  /*width: 95%;*/
  text-align: center;
  align-self: center;
  align-content: center;
}

/*.hamburger {
  font-size: 40px;
}*/

/* PHONE */
@media (max-width : 480px) {
  .menu-up {
    opacity: 1;
    height: 0;
    visibility: hidden;
  }

  .menu-item-up {
    transition: unset;
  }

  .menu-down {
    opacity: 1;
    height: auto;
    visibility: visible;
    transition: all .7s linear;
  }

  .menu-item-down {
    visibility: visible;
    opacity: 1;
  }
}

/* TABLET */
@media (min-width : 481px) and (max-width : 1024px) {
  nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
  }
  .toggle-bar {
    display: none;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
  }
  .menu li {
    /*width: auto;*/
  }
  .menu-item {
    height: auto;
    /*font-size: 2em;*/
    padding: 20px 7px 20px 7px;
  }
}

/* DESKTOP & LAPTOP */
@media (min-width : 1025px) {
  nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    height: auto;
  }
  .toggle-bar {
    display: none;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
  }
  .menu li {
    width: auto;
  }
  .menu-item {
    height: auto;
    /*font-size: 2em;*/
    padding: 20px 7px 20px 7px;

  }
}

@media (max-width: 600px) {
  .menu {
    margin: auto;
  }
  .menu li a {
    /*font-size: 14px;*/
  }
}
