/* TopBarPhone */

.wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
}
.topBar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-left: 20px;
}
.hideMobileMenu {
  display: none;
}
.showMobileMenu {
  display: flex;
  flex-flow: column;
  align-items: center;
}

a.menuItem {
  text-decoration: none !important;
}
.menuItem {
  background-color: transparent;
  border: 1px solid #58565a;
  border-radius: 5px;
  text-align:center;
  letter-spacing: 2px;
}
.menuItem:hover {
  border-color: #22C365;
  box-shadow: 0 0 0 8px rgba(34, 195, 101, 0.1);
  color: white;
}
.phoneMenuItem {
  width: 60%;
  margin-top: 10px;
  padding: 5px 20px;
}

.brandingPhone {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 10;
  font-size: calc( 18px + (22 - 18) * ( (100vw - 325px) / ( 580 - 325) ));
  text-align: center;
  width: 100%;
}
.wordTrivalleyPhone {
  font-family: 'Wallpoet', cursive;
  font-size: 1.04;
}
.wordCodersPhone {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.2em;
  font-weight: 700;
  color: #53EB76;
}
.hamburger {
  /*width: 100px;*/
  font-size: 1.8em;
}
.hamburgerDiv {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  margin-right: 20px;
}
.phoneMenuItem {
  width: 60%;
  margin-top: 10px;
  padding: 5px 20px;
}
