/* Footer */

/*.footer {
  padding-top: 15px;
	padding-bottom: 15px;
}*/

.footer-container {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.fa {
	padding: 5px;
	color: white;
}

.fa-btns {
	display: flex;
	flex-direction: row;
}
