/* Page */

body {
  text-align: justify;
  color: white;
}

section, header, footer {
  overflow: hidden;
}
section {
  padding-top: 15px;
  padding-bottom: 35px;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  text-align: center;
}

.container {
  width: auto;
}
.section-title {
  margin-top: 25px;
  margin-bottom: 20px;
}
.section-sub-title {
  font-style: italic;
}

/*
    Background & Font Colors
 */
.green-text {
  color: #34E97C;
}
.green-background {
  background-image: linear-gradient(to bottom, #42a552 0%, #42a552 100%);
}

.gradient-black-background {
  background: linear-gradient(to top, #1d1d1d, #3c3c3c);
}

.section-container {
  max-width: 1080px;
  margin: auto;
}

/*
    Media Queries
 */
/* PHONE */
@media (max-width : 480px) {
  section {
    padding-top: 15px;
    padding-bottom: 35px;
  }
  .section-title {
    margin-top: 25px;
    margin-bottom: 20px;
  }
}

/* TABLET */
@media (min-width : 481px) and (max-width : 1024px) {

}

/* DESKTOP & LAPTOP */
@media (min-width : 1025px) {

}
