/* Page */

.pageWrapper {
  font-family: 'Roboto', sans-serif !important;
}
body {
  color: white;
}
section, header, footer {
  overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}

:global(.container) {
  width: auto;
}
