/* SiteTitle */

/*header {
  padding: 30px 0 45px 0;
}*/

.site-title {
  font-size: 3.3em;
  text-align: center;
}


/*
    Media Queries
 */
/* PHONE */
@media (max-width : 480px) {

}

/* TABLET */
@media (min-width : 481px) and (max-width : 1024px) {
  .site-title {
    font-size: 5.0em;
  }
}

/* DESKTOP & LAPTOP */
@media (min-width : 1025px) {
  .site-title {
    font-size: 7.0em;
  }
}
