/* Sponsor */
.panelSponsor {
  /*border: none;*/
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  max-width: 200px;
  text-align: center;
}

.sponsorImgContainer {
  margin-bottom: 10px;
}
.sponsorRole {
  margin-bottom: 0;
}
.sponsorName {
  margin-bottom: 10px;
}
