/* Sponsor */

.sponsorRole {
  margin-bottom: 0;
}

.panelSponsor {
  border: none;
}
.sponsorImg {
  /*margin: auto;*/
  width: 100%;
}
/*
    PHONE
 */
/*@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {*/
@media (min-width : 320px) and (max-width : 480px) {
  .panelSponsor {
    text-align: center;
    width: 155px;
    padding: 5px;
    margin: 10px;
  }
  .sponsorImgContainer {
    padding: 0;
  }
  .panelBody {
    padding: 0;
  }
}

/*
    TABLET
 */
/*@media only screen and (min-device-width : 481px) and (max-device-width : 1024px) {*/
@media (min-width : 481px) and (max-width : 1024px) {
  .panelSponsor {
    text-align: center;
    width: 160px;
    padding: 5px;
    margin: 10px;
  }
  .panelSponsorImgContainer {
    margin: auto;
    padding: 0;
  }
  .panelBody {
    padding: 0;
  }
}

/*
    DESKTOP & LAPTOP
 */
/*@media only screen  and (min-width : 1025px) {*/
@media (min-width : 1025px) {
  .panelSponsor {
    text-align: center;
    width: 160px;
    padding: 5px;
    margin: 10px;
  }
  .sponsorImgContainer {
    padding: 0;
  }
  .panelBody {
    padding: 0;
  }
}
