/* Events */

.events-failed-message {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 15px 0 15px 0;
}

.panel {
  background-color: transparent;
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.events-body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.events-left {
  width: 0.5833333333;
  margin: 0 15px;
}

.events-right {
  margin: auto;
  padding-left: 50px;
}

.img-laptop-coffee {
  max-width: 400px;
}

/*
    Media Queries
 */
/* PHONE */
/*@media (max-width: 480px) and (max-width: 736px)*/
@media (max-width: 736px)
 {
  .events-image {
    display: none;
  }
  .events-body {
    display: inherit;
    padding: 0 3px;
  }
  /*.events-list {
    width: inherit;
    margin: 0;
  }*/
}

/* TABLET */
@media (min-width : 481px) and (max-width : 1024px) {

}

/* DESKTOP & LAPTOP */
@media (min-width : 1025px) {

}
