/* Events */

.events-failed-message {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 15px 0 15px 0;
}

.panel {
  background-color: transparent;
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.events-body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.events-list {
  width: 0.5833333333;
  margin: 0 15px;
}

.events-image {
  margin: auto;
  padding-left: 50px;
}

.img-laptop-coffee {
  max-width: 400px;
}
