/* SiteTitle */

.site-title {
  font-size: 2.2em;
  text-align: left;
  padding: 0;
  margin-left: 40px;

}


/*
    Media Queries
 */
/* PHONE */
@media (max-width : 480px) {
  .site-title {
    font-size: 1.6em;
  }
}

/* TABLET */
@media (min-width : 481px) and (max-width : 1024px) {

}

/* DESKTOP & LAPTOP */
@media (min-width : 1025px) {

}
