/* Header */

.container .header-grid {
  width: 1170px;
}

.header-row {
  /*display: flex;*/
  /*flex-flow: row nowrap;*/
}

.header-col {
  /*display: flex;*/
  /*align-items: center;*/
}

.header-nav {
  /*justify-content: flex-end;*/
  /*display: flex;*/
}

.navbar-inverse {
 background-image: none;
 background-color: transparent;
 background-repeat: no-repeat;
 border-radius: 0;
 border: none;
}

#nav-bar-grid {
  background-color: gray;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  align-content: stretch;
}

#nav-bar-brand {
  background-color: orange;
  display: none;
}

#nav-bar {
  background-color: orange;
  margin: 0;
}

/* just debug below this line */
#nav-bar-grid-row {
  background-color: green;
}

#nav-bar-header {
  background-color: yellow;
}

#nav-bar-grid-col-1 {
  background-color: lightblue;
}
#nav-bar-grid-col-2 {
  background-color: lightblue;
}
#nav-bar-grid-col-3 {
  background-color: lightblue;
}
#nav-bar-collapse {
  background-color: gray;
}

#nav-bar-nav {
  background-color: lightgray;
}

/*
.navbar {
 margin: 0;
}

#nav-bar .container-fluid {
  padding: 0;

}

#nav-bar-grid {
  padding: 0;
}
#nav-bar-grid-row {
  width: auto;
}
*/


/*
.nav-tmp {
  background-color: blue;
  color: blue;
  width: 1170px;
}
*/
/*
.header-colors {
  background-color: transparent;
  color: black;
}
*/
