/* Header */

.header-row {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}


/*
    PHONE
 */
@media (max-device-width : 480px) {

}

/*
    TABLET
 */
@media (min-device-width : 481px) and (max-device-width : 1024px) {

}

/*
    DESKTOP & LAPTOP
 */
@media (min-width : 1025px) {

}
