/* TechLogos */

.logo-title {
  text-align: center;
  margin-top: 25px;
}

.logo-row {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-flow: row wrap;
  justify-content: center;
}

/*.wrapper-full-width {
  background-color: black;
}*/

.wrapper-max-width-1080 {
  max-width: 1080px;
  margin: auto;
  padding: 40px 0;
}

.wrapper-narrow-text {
  margin: auto;
  max-width: 820px;
  padding: 5%;
  font-size: 1.3em;
}


.techlogos-wide-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
}

.techlogos-wide-top-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
}

.techlogos-wide-right {
  padding: 0 40px;
  font-size: 1.3em;
}

.img-women-learning {
  max-width: 450px;
  padding: 20px;
}

.techlogos-wide-bottom {
  padding-top: 30px;
}
