/* TechLogos */

.logo-title {
  /*font-size: 1.6em;*/
  text-align: center;
  margin-top: 25px;
}

.logo-row {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-flow: row wrap;
  justify-content: center;
}

.tech-logos-body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.tech-logos-list {
  width: 58.33333333%;
  margin-left: 15px;
}

.tech-logos-image {
  margin: auto;
  width: 41.66666667%;
  padding-right: 40px;
}

.img-women-learning {
  max-width: 370px;
}

.tech-logo-subcontainer {
  font-size: 1.3em;
  padding-left: 30px;
}
